* {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
ul,
li,
menu,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.header-nav {
  &-language {
    .lan {
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #4793ff;
      }
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.5px;
      background-color: #dae9ff;
      color: #000000;
      border: 0;
      height: 37px;
      border-radius: 10px;
      padding: 0 16px;
    }
    display: flex;
    gap: 5px;
  }

  .button {
    min-height: 37px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    background-color: #dae9ff;
    color: #000000;
    border: 0;
    border-radius: 10px;
    padding: 0 16px;
    display: none;
  }
  svg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;

  &-left,
  &-right {
    gap: 20px;
    align-items: center;
    display: flex;
  }

  &-left {
    h1 {
      font-size: 25px;
      font-weight: 700;
      line-height: 30.48px;
      color: #4793ff;
    }
  }

  &-right {
    &-right {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    input {
      &:focus {
        background-color: #4793ff;
        &::placeholder {
          color: white;
        }
      }
      transition: all 0.3s ease-in-out;
      &:hover {
        &::placeholder {
          color: white;
        }
        background-color: #4793ff;
      }
      font-size: 16px;
      font-weight: 500;
      line-height: 19.5px;
      background-color: #dae9ff;
      color: #000000;
      border: 0;
      height: 37px;
      border-radius: 10px;
      padding: 0 16px;
    }
  }
}

.main {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 30px;

  &-left {
    box-shadow: 2px 5px 25px -3px #b4b4b440;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .top-info {
      align-items: center;
      justify-content: space-between;
      display: flex;

      &_left {
        h1 {
          font-size: 96px;
          font-weight: 500;
          color: #4793ff;
        }

        p {
          font-size: 40px;
          font-weight: 400;
          max-width: 400px;
        }
      }
    }

    .bottom-info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1,
      p {
        font-size: 25px;
        font-weight: 400;
        line-height: 30.48px;
        color: #939cb0;
      }
    }
  }

  &-right {
    position: relative;
    box-shadow: 2px 5px 25px -3px #b4b4b440;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    box-shadow: 2px 5px 25px -3px #b4b4b440;

    img {
      position: absolute;
      right: 0;
      top: 0;
      z-index: -999;
    }

    height: 300px;
    border-radius: 20px;

    &-info {
      position: relative;

      .icon {
        background-color: #ffffff;
        box-shadow: 1px 4px 10px -1px #4793ff33;
        width: 38px;
        height: 38px;
        padding-top: 7px;

        svg {
          width: 100%;
        }

        border-radius: 100%;
      }

      display: flex;
      flex-direction: column;
      gap: 40px;

      h1 {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
        color: #939cb0;
      }

      width: 750px;
      border-radius: 10px;
      padding: 20px;

      .temperature,
      .precipitation,
      .pressure,
      .wind {
        gap: 32px;
        display: flex;
        align-items: center;
      }
    }
  }
}

body {
  transition: all 0.3s ease-in-out;
}

body.dark {
  background-color: #0d1117;
  transition: all 0.3s ease-in-out;

  .header-nav {
    &-right {
      select {
        background-color: #4f4f4f;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .main {
    &-left {
      .top-info {
        &_left p {
          transition: all 0.3s ease-in-out;
          color: #ffffff;
        }
      }
    }

    &-right {
      h2 {
        color: #ffffff;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .header-nav {
    &-right {
      &-right {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
    &-svg {
      svg {
        display: none;
      }
      .button {
        cursor: pointer;
        display: block;
      }
    }
  }
  .main {
    &-right,
    &-left {
      width: 50%;
    }
    &-right {
      .img {
        img {
          width: 75%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .header-nav {
    &-right {
      &-right {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
    flex-direction: column;
    gap: 15px;
  }
  .main {
    gap: 20px;
    flex-direction: column;
    &-right,
    &-left {
      width: 100%;
    }
    &-right {
      .img {
        img {
          width: 65%;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .header-nav {
    &-right {
      &-right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
      }
      flex-direction: column;
    }
    flex-direction: column;
    gap: 15px;
  }
}
